.Agreement {
    display: flex;
    margin-top: 3rem;
    color: var(--white);
    user-select: none;
  }
  
  .CheckBox {
    margin-right: 0.5rem;
    border: 2px solid var(--dark-blue);
    background-color: var(--medium-blue);
    height: 2rem;
    width: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .CheckBox:checked {
    background-color: var(--white);
  }
  .CheckBox:checked::after {
    content: '\2713'; /* Unicode for checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: black;
  }