
.Project-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .Project-info p {
    font-size: 16px;
    color: #bbb;
  }
  
  .Donate-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .Donate-button svg {
    margin-right: 8px;
  }
  
  .Progress-bar {
    margin-top: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 20px;
  }
  
  .Progress-bar .Progress {
    background-color: #76c7c0;
    height: 100%;
    transition: width 0.3s;
  }
  
  .Progress-bar span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: white;
  }
  
  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .Modal input {
    width: calc(100% - 24px);
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .Modal button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  .Modal button:first-of-type {
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .Modal button:last-of-type {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
  }